    <div class="photo-doctor">
        <img class="photo-doctor-img" ng-src="{{photoUrl}}" draggable="false"/>
    </div>
    <button type="button" class="btn btn-info btn-sm"
            data-toggle="modal" data-target="#photo-modal">
        Змінити
    </button>

    <!-- Photo modal -->
    <div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Змінити фото!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="photo-doctor">
                        <img class="photo-doctor-img photo-preview" ng-src="/photo/user/{{userId}}"
                             draggable="false"/>
                    </div>

                    <form name="ImageUpload" method="POST" enctype="multipart/form-data">
                        <div>
                            <br><br>
                            <label class="custom-file">
                                <input type="file" id="upload-photo" class="custom-file-input" name="uploadImage"
                                       accept="photo/*"
                                       scope.setFiles=function(element) {
                                       onchange="angular.element(this).scope().setFile(this)">
                                <span class="custom-file-control">Виберить фото:</span>
                            </label>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default btn-sm" data-dismiss="modal">Відмінити</button>
                    <button class="btn btn-success btn-ok btn-sm" data-dismiss="modal" ng-click="savePhoto()">Зберегти
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- !Photo modal -->


