<div class="ticket-grid-content">
    <table class="table table-striped table-ticket-grid">
        <thead>
        <tr>
            <th ng-repeat="ticketSlot in ticketSlotSubList">
                <div>
                    {{ticketSlot.date}}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td ng-repeat="ticketSlot in ticketSlotSubList" class="td-table-ticket-grid">
                <div ng-repeat='ticket in ticketSlot.ticketDtoList'>
                    <input type="submit"
                            class="bt btn-sm ng-class:{'btn-info':!ticket.busy,'btn-secondary':ticket.busy}"
                            aria-hidden="true"
                            ng-disabled="ticket.busy" value="{{ticket.time}}"
                            confirm-click="reserve(ticket)" template="confirm-modal.html"/>


                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<input type="submit" value="Зберегти"
       class="btn btn-success btn-sm"
       ng-click="save()" confirm-dialog template="confirm-modal.html"
