<div class="ticket-grid-content">
    <div class="row">
    <div class="card col-sm-4 col-lg-2" ng-repeat="ticketSlot in ticketSlotSubList">
        <div class="card-header  text-center">
            {{ticketSlot.date}}
        </div>
        <div class="card-body text-center">
            <div class="ticket-context" ng-repeat='ticket in ticketSlot.ticketDtoList'>
                <input type="submit"
                       class="bt btn-sm ng-class:{'btn-info':!ticket.busy,'btn-secondary':ticket.busy}"
                       aria-hidden="true"
                       ng-disabled="ticket.busy" value="{{ticket.time}}"
                       confirm-click="reserve(ticket)" template="confirm-modal.html"/>


            </div>
        </div>
    </div>
    </div>
</div>




